body {
    background-color: black;
    
}

header {
    background-color: aqua;
    margin: 0px auto;
}

nav {
    background-color: aquamarine;
    margin: 0px auto;
}

main {
    background-color: beige;
    height: 2000px;
}